@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 180px;
  background-color: #E9E9E9;
}

.header {
  background-color: #AAA;
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  background-color: #AAA;
  border-top: 2px solid #666;
}

nav.container {
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}

.fa-medium-size {
  font-size: 2em;
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}

@include keyframes( flashgreen )
{
  0% {
    background-color: green;
  }
  100% {
    background-color: #999;
  }
}

@include keyframes( flashred )
{
  0% {
    background-color: red;
  }
  100% {
    background-color: #999;
  }
}

.increase {
  animation: flashgreen 5s;
  -webkit-animation: flashgreen 5s;
}

.decrease {
  animation: flashred 5s;
  -webkit-animation: flashred 5s;
}

#battery {
  margin: 10px 20px 10px 10px;
  background:#fff;
  width:90px;
  height:40px;
  border-radius:2px;

  &.low-battery {
    width: 10px;
    background: red;
  }
  &.medium-battery {
    width: 45px;
    background: yellow;
  }
  &.high-battery {
    width: 85px;
    background: lime;
  }
  &.full-battery {
    background: lime;
  }
}

#battery:before {
  content:'';
  display:block;
  background:transparent;
  border:4px solid #999;
  margin:-5px;
  width:100px;
  height:50px;
  position:absolute;
  border-radius:2px;
}

#battery:after {
  content:'';
  display:block;
  background:transparent;
  border:2px solid #999;
  margin:10px 93px;
  width:10px;
  height:20px;
  position:absolute;
  border-radius:2px;
}

.thin-right-border {
  border-right: #eee solid 1px;
}

.no-top-margin {
  margin-top: 0px
}
